// prototyping colors
// http://www.colourlovers.com/palette/1669688/Summer_in_Portland
$red: #EB5454;
$teal: #54EBC4;
$blue: #10B1E2;
$yellow: #EAEB54;
$orange: #EB9E54;
$charcoal: #59554E;
$green: #1CDA79;
$silver: #bdbec0;

// post-prototyping colors
$paleBlue: #7f97b4;
$olivine: #8bba7d;
$iron: #d1d2d4;
