<ul class="mode-switcher">
  <li class="mode-switcher__item">{{#link-to 'project.build'}}Build{{/link-to}}</li>
  <li class="mode-switcher__item"><a {{action "transitionToExperience"}}>Experience</a></li>
</ul>
{{outlet}}
